/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #222626; }
.Graphic-Design-2-hex { color: #F2CB05; }
.Graphic-Design-3-hex { color: #8C7503; }
.Graphic-Design-4-hex { color: #F2DF80; }
.Graphic-Design-5-hex { color: #735702; }